* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #222222;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.block-treehouse-achievements-block {
background: rgba(0, 0, 0, 0.05);
padding-top: 5px;
}
.block-treehouse-achievements-block a {
text-decoration: none;
}
.team-treehouse h1, .team-treehouse h2 {
text-align: center;
}
.team-treehouse h2 {
font-weight: normal;
}


.pieChart {
  width: 25.5em;
  margin: 0 auto;
  padding-top: 1em;
}

.pie {
  height: 12.5em;
  width: 12.5em;
  position: relative;
  float: left;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 7.5em;
  height: 7.5em;
  background: #f9f9f9;
  border-radius: 50%;
  top: 2.5em;
  left: 2.5em;
}

.slice {
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  clip: rect(0px, 12.5em, 12.5em, 6.25em);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 12.5em;
  height: 12.5em;
  border-radius: 50%;
  clip: rect(0px, 12.5em, 12.5em, 6.25em);
}

.legend {
  width: 13em;
  padding-left: .5em;
  float: left;
}
.legend ul {
  list-style-type: none;
  list-style-position: inside;
  font-size: 0.8em;
}
.legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
  font-weight: bold;
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #222222;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


